body{margin:0px;
padding:0px;}
.container{height:100%;
width:100%;
float:left;
position:absolute;}
.grass{height:22%;
width:100%;
background-color:#75F336;
float:left;
}
.acostament{height:5%;
width:100%;
background-color:#9b7653;
float:left;
}
.road{height:3%;
    width:100%;
    background-color:#47484C;
    float:left;
}
.sky{height:70%;
    width:100%;
    background-color: #4e8397;
    position:relative;
    background-image: url(mountain.jpg);
    background-repeat: no-repeat;
    background-size: 1500px;

}
.cloud1, .cloud2{
  width:100%;
  height:50px;
  background-image: url(clouds.png);
  background-repeat: no-repeat;
  background-size: 100px auto;
  animation: cloud1 15s infinite linear;
  }

 .cloud2{animation: cloud2 17s infinite linear;}
  @keyframes cloud1{
  0% { background-position: 110%; }
  100% { background-position: -1000px; }
  }
  @keyframes cloud2{
    0% { background-position: 130%; }
    100% { background-position: -1200px; }
}
.cloud3{
    width:100%;
    height:65px;
    background-image: url(clouds.png);
    background-repeat: no-repeat;
    background-size: 125px auto;
    animation: cloud3 10s infinite linear;
    }
  
   .cloud3{animation: cloud3 10s infinite linear;}
    @keyframes cloud3{
    0% { background-position: 110%; }
    100% { background-position: -1000px; }
    }
    @keyframes cloud3{
      0% { background-position: 122%; }
      100% { background-position: -1100px; }
    }


.cloud6{
    width:100%;
    height:83px;
    background-image: url(clouds.png);
    background-repeat: no-repeat;
    background-size: 200px auto;
    animation: cloud6 7s infinite linear;
    }
@keyframes cloud6{
    0% { background-position: 115%; }
    100% { background-position: -1000px; }
}
.cloud7{
    width:100%;
    height:106px;
    background-image: url(clouds.png);
    background-repeat: no-repeat;
    background-size: 250px auto;
    animation: cloud7 5s infinite linear;
    }
    @keyframes cloud7{
        0% { background-position: 150%; }
        100% { background-position: -1000px; }
    }
    .rock {
        height: 30px;
        width: 30px;
        top: 66%;
        left: 94%;
        position: absolute;
        animation: rock-move 8s infinite linear;
      }
      
      @keyframes rock-move {
        0% {
          transform: translateX(50%);
        }
        100% {
          transform: translateX(-2000px);
        }
      }
      /* Modal container styles */

ul{list-style-type: none}
/* Close button styles */
.close-btn {
  display: inline-block;
  float: right;
  font-size: 18px;
  font-weight: bold;
  color: #888;
  background: none;
  border: none;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #000;
  text-decoration: none;
}


.trooper{height:74px;
    width:120px;
    top:60%;
    left: 100px;
    position:absolute;
}
.bullet {
    position: absolute;
    width: 2px;
    height: 1px;
    background-color: silver;
  }
  .gun {
    position: absolute;
    top: -20px;
    left: 50px;
    width: 20px;
    height: 10px;
    background-color: #000;
}
  
 /* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:url(modal.jpg);
  background-size: 100%;
  background-repeat:no-repeat;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height:45%;
  max-width: 600px;
  text-align: center;
}

/* Modal title styles */
.modal h1 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  color: gainsboro;
}

/* Close button styles */
.close-btn {
  display: inline-block;
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: #888;
  background: none;
  border: none;
  cursor: pointer;
  text-align:center;
}

.close-btn:hover,
.close-btn:focus {
  color: #000;
  text-decoration: none;
}

/* Modal text styles */
.modal li {
  margin: 0;
  margin-bottom: 10px;
  text-align: left;
}
.modal ul {
  margin: 0;
  margin-bottom: 10px;
  margin-right: 25px;
  text-align: left;
  color:white;
  font-size: 20px;
}
